h1 {
  font-size: 120px;
  text-align: center;
}

img {
  position: absolute;
  top: 20px;
  right: 20px;
  width: 300px;

  box-shadow: 3px 3px 5px 0;
}

.allgemeines {
  text-align: center;
  width: 80vw;
  border: 5px solid black;
  margin: 0 50px;
}

.allgemeines-p {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: repeat(3, 1fr);
  grid-template-areas:
    "p1 p2 p3 p4"
    " p5 p6 p7 p8"
    "p9 p10 p11 p12";
}

.allgemeines p:nth-child(1) {
  grid-area: p1;
}

.allgemeines p:nth-child(2) {
  grid-area: p2;
}

.allgemeines p:nth-child(3) {
  grid-area: p3;
}

.allgemeines p:nth-child(4) {
  grid-area: p4;
}

.allgemeines p:nth-child(5) {
  grid-area: p5;
}

.allgemeines p:nth-child(6) {
  grid-area: p6;
}

.allgemeines p:nth-child(7) {
  grid-area: p7;
}

.allgemeines p:nth-child(8) {
  grid-area: p8;
}

.allgemeines p:nth-child(9) {
  grid-area: p9;
}

.allgemeines p:nth-child(10) {
  grid-area: p10;
}

.allgemeines p:nth-child(11) {
  grid-area: p11;
}

.allgemeines p:nth-child(12) {
  grid-area: p12;
}

.allgemeines-p p {
  transition: transform 3s ease;
}

.allgemeines-p p:hover {
  transform: scale(1.5);
}
