body {
  padding: 0;
  margin: 0;
  text-align: center;
  background-image: url(./pictures/keith-misner-h0Vxgz5tyXA-unsplash.jpg);
  background-size: cover;
}

header nav li {
  display: inline-block;
  margin: 0 20px;
}

header nav li a {
  text-decoration: none;
  color: gold;
  font-size: 20px;
}

header nav li a:hover {
  color: silver;
}

header .nav-1 {
  position: fixed;
  top: 0;
  left: 20px;
}

header .nav-2 {
  position: fixed;
  top: 0;
  right: 20px;
}

header .nav-2 a {
  color: gold;
  margin: 0 20px;
}

header .nav-2 a:hover {
  color: silver;
}

h1 {
  font-size: 80px;
  text-align: center;
}

.img-ich {
  text-align: center;
  margin-bottom: 50px;
  padding-bottom: 20px;
}
img {
  width: 200px;
  box-shadow: 3px 3px 5px 0;
  transition: transform 3s ease;
}

img:hover {
  transform: scale(1.5);
}

.allgemeines h2 {
  color: rgb(233, 233, 233);
  font-size: 30px;
  text-decoration: underline;
}

.allgemeines-p {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: repeat(4, 1fr);
  grid-template-areas:
    "p1 p2 p3 p4 p5"
    "p6 p7 p8 p9 p10"
    "p11 p12 p13 p14 p15"
    "p16 p17 p18 p19 p20";
  margin: 0 100px;
}

.allgemeines p:nth-child(1) {
  grid-area: p1;
}

.allgemeines p:nth-child(2) {
  grid-area: p2;
}

.allgemeines p:nth-child(3) {
  grid-area: p3;
}

.allgemeines p:nth-child(4) {
  grid-area: p4;
}

.allgemeines p:nth-child(5) {
  grid-area: p5;
}

.allgemeines p:nth-child(6) {
  grid-area: p6;
}

.allgemeines p:nth-child(7) {
  grid-area: p7;
}

.allgemeines p:nth-child(8) {
  grid-area: p8;
}

.allgemeines p:nth-child(9) {
  grid-area: p9;
}

.allgemeines p:nth-child(10) {
  grid-area: p10;
}

.allgemeines p:nth-child(11) {
  grid-area: p11;
}

.allgemeines p:nth-child(12) {
  grid-area: p12;
}

.allgemeines p:nth-child(13) {
  grid-area: p13;
}

.allgemeines p:nth-child(14) {
  grid-area: p14;
}

.allgemeines p:nth-child(15) {
  grid-area: p15;
}

.allgemeines p:nth-child(16) {
  grid-area: p16;
}

.allgemeines p:nth-child(17) {
  grid-area: p17;
}

.allgemeines p:nth-child(18) {
  grid-area: p18;
}

.allgemeines p:nth-child(19) {
  grid-area: p19;
}

.allgemeines p:nth-child(20) {
  grid-area: p20;
}

.allgemeines-p p {
  color: rgb(233, 233, 233);
  transition: transform 3s ease;
  font-size: 20px;
}

.allgemeines-p p:hover {
  transform: scale(1.5);
  color: gold;
}

footer {
  text-align: center;
  padding-top: 50px;
}
