body {
  padding: 0;
  margin: 0;
  text-align: center;
  background-image: url(./pictures/keith-misner-h0Vxgz5tyXA-unsplash.jpg);
  background-size: cover;
}

header nav li {
  display: inline-block;
  margin: 0 20px;
}

header nav li a {
  text-decoration: none;
  color: gold;
  font-size: 20px;
}

header nav li a:hover {
  color: silver;
}

header .nav-1 {
  position: fixed;
  top: 0;
  left: 20px;
}

header .nav-2 {
  position: fixed;
  top: 0;
  right: 20px;
}

header .nav-2 a {
  color: gold;
  margin: 0 20px;
}

header .nav-2 a:hover {
  color: silver;
}

h1 {
  font-size: 80px;
  text-align: center;
  color: orangered;
  text-decoration: underline;
  text-shadow: silver 5px 5px 9px;
}

.img-ich {
  text-align: center;
  margin-bottom: 50px;
}
.img-ich img {
  width: 200px;
  box-shadow: 3px 3px 5px 0;
  transition: transform 3s ease;
}

.img-ich img:hover {
  transform: scale(1.5);
}

.allgemeines {
  text-align: center;

  margin: 50px;
}

.allgemeines h2 {
  color: rgb(233, 233, 233);
  font-size: 30px;
}

.allgemeines-p {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: repeat(4, 1fr);
  grid-template-areas:
    "p1 p2 p3 p4 p5"
    "p6 p7 p8 p9 p10"
    "p11 p12 p13 p14 p15"
    "p16 p17 p18 p19 p20";
}

.allgemeines p:nth-child(1) {
  grid-area: p1;
}

.allgemeines p:nth-child(2) {
  grid-area: p2;
}

.allgemeines p:nth-child(3) {
  grid-area: p3;
}

.allgemeines p:nth-child(4) {
  grid-area: p4;
}

.allgemeines p:nth-child(5) {
  grid-area: p5;
}

.allgemeines p:nth-child(6) {
  grid-area: p6;
}

.allgemeines p:nth-child(7) {
  grid-area: p7;
}

.allgemeines p:nth-child(8) {
  grid-area: p8;
}

.allgemeines p:nth-child(9) {
  grid-area: p9;
}

.allgemeines p:nth-child(10) {
  grid-area: p10;
}

.allgemeines p:nth-child(11) {
  grid-area: p11;
}

.allgemeines p:nth-child(12) {
  grid-area: p12;
}

.allgemeines p:nth-child(13) {
  grid-area: p13;
}

.allgemeines p:nth-child(14) {
  grid-area: p14;
}

.allgemeines p:nth-child(15) {
  grid-area: p15;
}

.allgemeines p:nth-child(16) {
  grid-area: p16;
}

.allgemeines p:nth-child(17) {
  grid-area: p17;
}

.allgemeines p:nth-child(18) {
  grid-area: p18;
}

.allgemeines p:nth-child(19) {
  grid-area: p19;
}

.allgemeines p:nth-child(20) {
  grid-area: p20;
}

.allgemeines-p p {
  color: rgb(233, 233, 233);
  transition: transform 3s ease;
  font-size: 20px;
}

.allgemeines-p p:hover {
  transform: scale(1.5);
  color: gold;
}

/* seite-2 */
.l-table {
  margin: 150px;
}

.l-table {
  width: 80vw;
  background-color: rgba(255, 255, 255, 0.596);
  font-size: 30px;
}

.l-table tr,
.l-table th,
.l-table td {
  border: 1px solid black;
  border-collapse: collapse;
}

/* seite-3 */
.serien {
  padding: 0 50px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
.serien div img {
  width: 500px;
  height: 500px;
  border-radius: 360px;
  box-shadow: 3px 3px 5px 0;
}

.serien div img:hover {
  transition: transform 5s ease;
  transform: rotate(360deg);
}

.serien h2 {
  margin-top: 140px;
  color: gold;
  font-size: 40px;
  text-decoration: underline;
}

.serien p {
  padding: 50px;
  margin: 20px;
  font-size: 25px;
}

.manifest,
.shadow-hunters,
.elite {
  margin-bottom: 100px;
  display: flex;
}

.serien p {
  background-color: rgba(255, 255, 255, 0.326);
  border-radius: 25px;
}

.h2-m {
  margin-left: 450px;
}

.h2-s {
  margin-right: 500px;
}

.h2-e {
  margin-left: 500px;
}

/* seite-4 */

.zutaten table {
  width: 40vw;
  background-color: rgba(255, 255, 255, 0.596);
  font-size: 30px;
  text-align: left;
  padding-left: 100px;
  margin-left: 30vw;
  border-radius: 25px;
}

.zubereitung ol,
.zubereitung p {
  margin: 50px;
  padding: 50px;
  background-color: rgba(255, 255, 255, 0.596);
  border-radius: 25px;
  text-align: left;
  font-size: 30px;
}

.rezepte h2 {
  color: silver;
  font-size: 60px;
  text-decoration: underline;
}

.rezepte h3 {
  text-decoration: underline;
  font-size: 50px;
  color: silver;
}
